@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
    height: 100%;
  }

  /* clear default iOS styling from inputs */
  input[type="text"] {
    @apply appearance-none;
  }

  a {
    @apply text-inherit no-underline;
  }

  button:focus {
    @apply outline-none;
  }

  [data-radix-popper-content-wrapper] {
    @apply rounded-2xl backdrop-blur-md backdrop-saturate-150 backdrop-filter;
  }

  [role="menu"] > div:nth-child(1) {
    @apply rounded-2xl bg-white bg-opacity-80 p-2 shadow;
  }

  [data-color-scheme="dark"] [role="menu"] > div:nth-child(1) {
    @apply shadow-black45 bg-neutral-900 bg-opacity-75 shadow-md;
  }

  [role="menuitem"] {
    @apply mb-1 flex-1 overflow-hidden rounded-sm;
  }

  [role="menuitem"] > div:nth-child(1) {
    @apply flex flex-1 flex-row items-center p-2;
  }

  [role="menuitem"]:hover,
  [role="menuitem"]:focus-within {
    @apply cursor-pointer rounded-lg bg-gray-900 bg-opacity-5 outline-none;
  }

  [data-color-scheme="dark"] [role="menuitem"]:hover,
  [data-color-scheme="dark"] [role="menuitem"]:focus-within {
    @apply bg-gray-100 bg-opacity-5;
  }

  [role="menuitem"].danger:hover,
  [role="menuitem"].danger:focus-within {
    @apply bg-red-500 bg-opacity-20;
  }

  [data-color-scheme="dark"] [role="menuitem"].danger:hover,
  [data-color-scheme="dark"] [role="menuitem"].danger:focus-within {
    @apply bg-red-500 bg-opacity-20;
  }

  [role="menuitem"] > div > div:nth-child(3) {
    @apply ml-2 flex-1 font-semibold text-gray-700;
  }

  [data-color-scheme="dark"] [role="menuitem"] > div > div:nth-child(3) {
    @apply text-neutral-300;
  }

  [role="menuitem"].danger:hover > div > div:nth-child(3),
  [role="menuitem"].danger:hover svg > *,
  [role="menuitem"].danger:focus-within > div > div:nth-child(3),
  [role="menuitem"].danger:focus-within svg > * {
    @apply text-red-500;
  }
}

/* SpaceGrotesk Regular */
@font-face {
  font-family: "SpaceGrotesk Regular";
  src: url("/fonts/woff/SpaceGrotesk-Regular-subset.zopfli.woff") format("woff"),
    url("/fonts/woff2/SpaceGrotesk-Regular-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SpaceGrotesk Bold */
@font-face {
  font-family: "SpaceGrotesk Bold";
  src: url("/fonts/woff/SpaceGrotesk-Bold-subset.zopfli.woff") format("woff"),
    url("/fonts/woff2/SpaceGrotesk-Bold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  background-color: #000;
}

[data-color-scheme="light"] {
  color-scheme: light;
  background-color: #fff;
}
