{
  "bracketSpacing": true,
  "importOrder": [
    "./shim",
    "^(react|react-native)$",
    "<THIRD_PARTY_MODULES>",
    "^app/(.*)$",
    "^design-system(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
