@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  /* clear default iOS styling from inputs */
  input[type="text"] {
    @apply appearance-none;
  }

  a {
    @apply text-inherit no-underline;
  }

  button:focus {
    @apply outline-none;
  }

  [data-radix-popper-content-wrapper] {
    @apply rounded-2xl backdrop-blur-md backdrop-saturate-150 backdrop-filter;
  }

  [role="menu"] > div:nth-child(1) {
    @apply rounded-2xl bg-white bg-opacity-80 p-2 shadow;
  }

  [data-color-scheme="dark"] [role="menu"] > div:nth-child(1) {
    @apply shadow-black45 bg-neutral-900 bg-opacity-75 shadow-md;
  }

  [role="menuitem"] {
    @apply mb-1 flex-1 overflow-hidden rounded-sm;
  }

  [role="menuitem"] > div:nth-child(1) {
    @apply flex flex-1 flex-row items-center p-2;
  }

  [role="menuitem"]:hover,
  [role="menuitem"]:focus-within {
    @apply cursor-pointer rounded-lg bg-gray-900 bg-opacity-5 outline-none;
  }

  [data-color-scheme="dark"] [role="menuitem"]:hover,
  [data-color-scheme="dark"] [role="menuitem"]:focus-within {
    @apply bg-gray-100 bg-opacity-5;
  }

  [role="menuitem"].danger:hover,
  [role="menuitem"].danger:focus-within {
    @apply bg-red-500 bg-opacity-20;
  }

  [data-color-scheme="dark"] [role="menuitem"].danger:hover,
  [data-color-scheme="dark"] [role="menuitem"].danger:focus-within {
    @apply bg-red-500 bg-opacity-20;
  }

  [role="menuitem"] > div > div:nth-child(3) {
    @apply ml-2 flex-1 font-semibold text-gray-700;
  }

  [data-color-scheme="dark"] [role="menuitem"] > div > div:nth-child(3) {
    @apply text-neutral-300;
  }

  [role="menuitem"].danger:hover > div > div:nth-child(3),
  [role="menuitem"].danger:hover svg > *,
  [role="menuitem"].danger:focus-within > div > div:nth-child(3),
  [role="menuitem"].danger:focus-within svg > * {
    @apply text-red-500;
  }
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  background-color: #000;
}

[data-color-scheme="light"] {
  color-scheme: light;
  background-color: #fff;
}

div.reactEasyCrop_CropAreaGrid::before,
div.reactEasyCrop_CropAreaGrid::after {
  all: unset;
}

/**
 * Building on the RNWeb reset:
 * https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/exports/StyleSheet/initialRules.js
 */
html,
body,
#__next {
  width: 100%;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;
  /* Allows content to fill the viewport and go beyond the bottom */
  min-height: 100%;
}

#__next {
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  flex: 1;
}

html {
  /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  display: flex;
  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  /* */
  width: unset !important;
  padding-right: 0 !important;
}

/* For Next.js <Image /> https://nextjs.org/docs/api-reference/next/image#known-browser-bugs */
/* For Safari v15+ */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
