/*
 *	WebFont Package Licensed to Showtime
 */

// Afronaut
@font-face
	font-family Regular
	src:	url('eot/Afronaut.eot'); // IE9 Compat Modes
	src:	url('eot/Afronaut.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Afronaut.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Afronaut.woff') format('woff'); // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Tomato Grotesk Medium
@font-face
	font-family Tomato Grotesk
	src:	url('eot/Tomato Grotesk Medium.eot'); // IE9 Compat Modes
	src:	url('eot/Tomato Grotesk Medium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Tomato Grotesk Medium.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Tomato Grotesk Medium.woff') format('woff'); // Pretty Modern Browsers
	font-weight 500
	font-style normal
	font-display swap

